@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  line-height: 1.5;
  background-color: #181919;
  padding:50px;
}

header {
  width: 100%;
  height: 70px;
  background-color: #320685;
  border-radius: 25px;
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #e9d8e9;
}

span {
  color: white;
}

ul{
  width: auto;
  float: left;
  margin-top: 8px;
}

li{
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  color: #f53353;
  text-decoration: none;
}

a:hover{
  color: ##e9d8e9;
  transition: 0.5s;
}

p {
  color: #e9d8e9;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #320685;
  border-radius: 25px;

}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
}

.textBox {
  background-color: #320685;
  border-radius: 10px;
  padding: 30px;
}
